body{
    background-color: rgb(200, 200, 255);
}
h1, h2{
    width: 80%;
    padding: auto;
    margin: 60px auto;
    font-size: 33px;
    font-family: fantasy;
    color: rgb(0, 17, 49);
}
a {
  text-decoration: none;
}
a:hover{
  color: rgb(31, 12, 75);
}
p, table, button, input {
    width: auto;
    padding: 10px;
    margin: 1%;
    font-size: 17px;
    background-color: rgb(255, 233, 199);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 500px;
    border-radius: 30px;
    padding: 15px;
    margin: auto;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active{
      background-color: rgb(104, 104, 104);
  }